// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body {
	font-family: Arial, verdana;
	font-size: .8em;
}

.italics {
	font-style: italic;
}

.bold {
	font-weight: bold;
}